name: Build LaTeX Thesis

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Lychee
        uses: lycheeverse/lychee-action@v2
        with:
          exclude:
            - 'docs/YOUR_LINK_HERE'
          markdown: true

      - name: Set up LaTeX environment
        uses: xu-cheng/latex-action@v2
        with:
          root_file: main.tex
          compiler: latexmk
          latexmk_use_lualatex: true
          latexmk_shell_escape: true
          args: -file-line-error -halt-on-error -interaction=nonstopmode

